<div class="matrix-type-container">
  <!-- Notification p-toast -->
  <p-toast position="top-center"/>
  <label class="matrix-type-label">Matrix type:</label>
  <p-dropdown
    [options]="matrixTypes"
    [formControl]="matrixType"
    optionValue="value"
    optionLabel="label"/>
</div>

<div class="matrix-content-container">
  <div class="matrix-table-container">
    <div class="matrix-table-wrapper">
      <app-matrix-table [matrix]="matrix" [columns]="columns" [valuesOfFirstColumn]="valuesOfFirstColumn" [scrollHeight]="'300px'"></app-matrix-table>
    </div>

    <div class="matrix-vertical-bar-container">
      <!-- Open table in separate window button -->
      <i pRipple pTooltip="Show in separate window" tooltipPosition="bottom" showDelay="200"
              class="pi pi-window-maximize graph-web-button" style="font-size: 1.75rem; padding-bottom: 4px"
              (click)="onExpandTable()">
      </i>
      <!-- Copy to clipboard button -->
      <i pRipple pTooltip="Copy to clipboard" tooltipPosition="bottom" showDelay="200"
         class="pi pi-clipboard graph-web-button" style="font-size: 1.75rem"
         (click)="onCopyToClipboard()">
      </i>
      <!-- TODO Open matrix as text button -->
    </div>
  </div>

  <!-- Fullscreen matrix window -->
  <p-dialog header="Full screen matrix"
            [modal]="true"
            [(visible)]="fullScreen"
            [style]="{ width: '95vw', height: '95vh'}"
            [appendTo]="'body'"
            [closeOnEscape]="true"
            dismissableMask="true"
            resizable="false" >
    <div class="full-size-matrix-table-wrapper">
      <app-matrix-table [matrix]="matrix" [columns]="columns" [valuesOfFirstColumn]="valuesOfFirstColumn"></app-matrix-table>
    </div>
  </p-dialog>
</div>
