.matrix-type-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-block: 8px;
}

.matrix-type-label {
  display: block;
  color: black;
  font-weight: bold;
  padding-right: 4px;
}

.matrix-table-container {
  display: flex;
  flex-grow: 1;
}

.matrix-table-wrapper {
  display: flow;
  max-width: calc(100% - 36px - 4px);
  min-width: calc(100% - 36px - 4px);
}

.graph-web-button {
  background-color: transparent;
  padding: 4px;
  color: white;
  border-radius: 5px;
}

.graph-web-button:not(:disabled):hover {
  color: var(--main-blue-color);
}

.graph-web-button:not(:disabled):active {
  background: linear-gradient(to top left, #ff0000 0%, #FFC618 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

.matrix-vertical-bar-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-inline: 4px;
  height: fit-content;
  background-color: black;
  opacity: 70%;
  border-radius: 5px;
}

.full-size-matrix-table-wrapper {
  display: flow;
  max-width: 100%;
  min-width: 100%;
}
