/* Desktop vertical nav bar */
.vertical-nav {
  display: flex;
  flex-direction: row;
  height: 100% !important;
  background-color: #f2f2f2;
  border-right: 1px solid var(--main-border-color);
}

.vertical-nav-container {
  display: flex;
  flex-direction: column;
  min-width: min-content;
  font-size: 16px;
}

.vertical-nav-header {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 8px;
  border-bottom: 1px solid var(--main-border-color);
}

.nav-items-container {
  display: flex;
  flex-direction: column;
  overflow-block: scroll;
  padding: 8px;
  width: max-content;
}

.nav-item-container {
  padding: 4px 8px;
  cursor: pointer;
  border-radius: 4px;
  width: auto;
}

.nav-item-container:hover {
  background-color: var(--main-hover-color);
}

.nav-item-container.active {
  background-color: var(--main-blue-light-color);
  color: white;
}

.nav-item {
  display: flex;
  align-items: center;
}

.nav-item .icon {
  padding-inline: 4px;
}

.nav-item .icon.active {
  color: white;
}

.collapse-icon {
  cursor: pointer;
  padding: 2px 4px;
  border-radius: 4px;
  transition: transform 0.3s;
  color: #3b3b3b;
}

.collapse-icon:hover {
  cursor: pointer;
  background-color: var(--main-hover-color);
  color: var(--main-blue-color);
}

.collapse-icon.expanded {
  transform: rotate(180deg);
}

.close-button {
  background-color: transparent;
  padding: 4px 6px;
  border-radius: 6px;
}

.close-button:not(:disabled):hover {
  background-color: var(--main-hover-color);
  color: var(--main-blue-color);
}

.left-side-content-header {
  display: flex;
  justify-content: center;
  padding-bottom: 6px;
}

.left-side-content-header > h3 {
  align-content: center;
  margin: 0;
}

.content-separator {
  border-top: 1px solid var(--main-border-color); /* Adjust the color and width as needed */
}

/* Other components styles */
.left-side-content-container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: stretch;
  align-content: stretch;
  justify-content: flex-start;
  height: 100%;
  padding: 8px;
  width: 20vw;
  min-width: 280px;
  background-color: #f2f2f2; /*TODO CHANGE*/
  box-sizing: border-box;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: var(--main-border-color);
}

/* Mobile styles */
.mobile-tab-menu {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
}

.custom-icon-container {
  color: #3b3b3b;
  margin-right: 4px;
}

.mobile-sidebar {
  display: flex;
  flex-direction: column;
}

.mobile-sidebar-header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 8px;
  border-bottom: 1px solid var(--main-border-color);
}

.mobile-sidebar-content {
  display: flex;
  flex-direction: column;
  padding-inline: 8px;
}
