<ng-container *ngIf="!isMobileDevice; else bottomNavTab">
  <div class="vertical-nav">
    <div class="vertical-nav-container">
      <div class="vertical-nav-header">
        <a pRipple class="pi pi-angle-double-left collapse-icon" [ngClass]="!verticalNavExpanded ? 'expanded' : ''"
           style="font-size: 1.5rem"
           (click)="onToggleExpandVerticalNav($event)"></a>
      </div>
      <div class="nav-items-container">
        <div pRipple class="nav-item-container" [ngClass]="activeIndex === i ? 'active' : ''"
             *ngFor="let item of items; let i = index"
             (click)="onDesktopNavItemClick(i)">
          <div class="nav-item">
            <i class="icon"
               [ngClass]="[item.icon, activeIndex === i ? 'active' : '']"
               *ngIf="item.icon && !item['customIcon']"
               style="font-size: 1.25rem"></i>
            <i class="icon" appSvgIcon
               [appSvgIcon]="item.icon"
               [ngClass]="item.icon"
               *ngIf="item.icon && item['customIcon'] && item['customIcon'] === true"></i>
            <a *ngIf="verticalNavExpanded" [ngClass]="item.icon + '-custom-text'">{{ item.label }}</a>
          </div>
        </div>
      </div>
    </div>

    <div #leftSideContentContainer>
      <div class="left-side-content-container" *ngIf="activeIndex !== null">
        <div class="left-side-content-header" #desktopSidebarHeader>
          <h2>{{ items ? items[activeIndex]['header'] : "No header" }}</h2>
          <i pRipple class="pi pi-times-circle close-button move-right" style="font-size: 1.5rem"
             (click)="onCloseLeftSideContainer()">
          </i>
        </div>
        <div class="content-separator"></div>
        <div class="left-side-content" #desktopSidebarContent>
        <app-output-view *ngIf="activeIndex === 0"/>
        <app-input-view *ngIf="activeIndex === 1"/>
        </div>
      </div>
    </div>
  </div>
</ng-container>

<!-- Mobile version of nav bar -->
<ng-template #bottomNavTab>
  <div #tabMenuContainer></div>
  <div #mobileTabNav id="mobile-navbar" class="mobile-tab-menu">
    <p-tabMenu [model]="items" [(activeItem)]="activeItem">
      <ng-template pTemplate="item" let-item let-i="index">
        <a pRipple class="p-menuitem-link" (click)="onMobileTabMenuActiveItemChange(i)">
          <ng-container *ngIf="svgIconService.getIcon(item.icon); else defaultIcon">
              <i class="custom-icon-container">
                <span appSvgIcon [appSvgIcon]="item.icon" [ngClass]="item.icon"></span>
              </i>
          </ng-container>
          <!-- Find icon in primeng icons -->
          <ng-template #defaultIcon>
            <span class="p-menuitem-icon black-icon" [class]="item.icon"></span>
          </ng-template>
          <a [ngClass]="item.icon + '-custom-text'">
                {{ item.label }}
          </a>
        </a>
      </ng-template>
    </p-tabMenu>
  </div>
  <p-sidebar #sidebarRef [visible]="bottomPanelVisible"
             (onHide)="onBottomPanelHide($event)"
             [appendTo]="tabMenuContainer"
             autoZIndex="false"
             [modal]="true">
    <ng-template pTemplate="headless">
      <div class="mobile-sidebar">
        <div class="mobile-sidebar-header" #mobileSidebarHeader>
          <h2>{{ activeItem ? activeItem['header'] : "No header" }}</h2>
          <a pRipple class="pi pi-angle-double-left collapse-icon move-right" style="font-size: 1.5rem"
             (click)="onCloseMobileSidebar($event)"></a>
        </div>
        <div class="mobile-sidebar-content" #mobileSidebarContent>
          <app-output-view *ngIf="activeItem?.id === 'output'"/>
          <app-input-view *ngIf="activeItem?.id === 'input'"/>
        </div>
      </div>
    </ng-template>
  </p-sidebar>
</ng-template>
