/* Adjust clarity components */
* {
  --clr-vertical-nav-bg-color: #e8e8e8;
  --clr-vertical-nav-toggle-icon-color: black;
  --clr-vertical-nav-item-color: black;
  --clr-vertical-nav-item-child-padding: var(--cds-global-space-5) var(--cds-global-space-6) var(--cds-global-space-5) 16px;
}

.main-container {
  height: 100% !important;
}

.clr-vertical-nav {
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #d3d3d3;
  width: auto;
}

.nav-content {
  padding-top: 0;
}

.nav-link {
  padding-left: 0;
  padding-right: 8px;
}

.main-container:not([class*=open-overflow-menu]):not([class*=open-hamburger-menu]) .clr-vertical-nav.is-collapsed.has-icons .nav-link {
  display: flex;
  justify-content: center;
}

.nav-group-text {
  padding-left: 4px;
  font-size: 16px;
}

.nav-text {
  padding-left: 4px;
  font-size: 14px;
  font-weight: normal;
}

.matrix-icon {
  margin-left: 8px !important;
}

.main-container:not([class*=open-overflow-menu]):not([class*=open-hamburger-menu]) .clr-vertical-nav.is-collapsed.has-icons .nav-link .matrix-icon {
  margin-right: 8px !important;
}

.close-button {
  background-color: transparent;
  border: none;
  background-clip: content-box;
  padding: 0;
  opacity: 80%;
}

.close-button:not(:disabled):hover {
  /*background-color: #DCDCDC;*/
  color: #006FFF;
}

.left-side-content-header {
  display: flex;
  justify-content: center;
  margin-bottom: 4px;
}

.left-side-content-header > h3 {
  margin-block: 8px;
}

.content-separator {
  border-top: 1px solid var(--main-border-color); /* Adjust the color and width as needed */
}

/* Other components styles */
.left-side-content-container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: stretch;
  align-content: stretch;
  justify-content: flex-start;
  height: 100%;
  padding: 8px;
  width: 20vw;
  min-width: 280px;
  background-color: #e8e8e8; /*TODO CHANGE*/
  box-sizing: border-box;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: var(--main-border-color);
}

/* Mobile styles */
.mobile-tab-menu {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
}

.custom-icon-container {
  max-height: 20px;
  margin-right: 4px;
}
