/* Desktop vertical nav bar */
.vertical-nav {
  display: flex;
  flex-direction: row;
  height: 100% !important;
  background-color: var(--main-bg-color);
  border-right: 1px solid var(--main-border-color);
  box-shadow: var(--main-border-color) 1.95px 1.95px 2.6px;
  margin-right: 4px;
}

.vertical-nav-container {
  display: flex;
  flex-direction: column;
  min-width: min-content;
  font-size: 16px;
}

.vertical-nav-header {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 8px;
  border-bottom: 1px solid var(--main-border-color);
}

.nav-items-container {
  display: flex;
  flex-direction: column;
  overflow-block: scroll;
  padding: 8px;
  width: max-content;
}

.nav-item-container {
  padding: 4px 8px;
  margin-bottom: 4px;
  cursor: pointer;
  border-radius: 4px;
  width: auto;
}

.nav-item-container:hover {
  background-color: var(--main-hover-color);
}

.nav-item-container.active {
  background-color: var(--main-blue-light-color);
  color: white;
}

.nav-item {
  display: flex;
  align-items: center;
}

.nav-item .icon {
  padding-inline: 4px;
}

.nav-item .icon.active {
  color: white;
}

.nav-item a {
  font-family: 'Nunito Sans', sans-serif;
}

.collapse-icon {
  cursor: pointer;
  padding: 2px 4px;
  border-radius: 4px;
  transition: transform 0.3s;
  color: var(--main-button-color);
}

.collapse-icon:hover {
  cursor: pointer;
  background-color: var(--main-hover-color);
  color: var(--main-blue-color);
}

.collapse-icon.expanded {
  transform: rotate(180deg);
}

.close-button {
  background-color: transparent;
  padding: 4px 6px;
  border-radius: 6px;
}

.close-button:not(:disabled):hover {
  background-color: var(--main-hover-color);
  color: var(--main-blue-color);
}

.left-side-content-header {
  display: flex;
  justify-content: center;
  padding-bottom: 6px;
}

.left-side-content-header > h2 {
  align-content: center;
  margin: 0;
}

.content-separator {
  border-top: 1px solid var(--main-border-color);
  margin-bottom: 16px;
}

.left-side-content-container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: stretch;
  align-content: stretch;
  justify-content: flex-start;
  height: 100%;
  padding: 8px;
  width: 20vw;
  min-width: 300px;
  background-color: var(--main-bg-color);
  box-sizing: border-box;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: var(--main-border-color);
}

.left-side-content {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  padding-inline: 8px;
}

/* Mobile styles */
.mobile-tab-menu {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 2;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
}

.custom-icon-container {
  color: var(--main-button-color);
  margin-right: 4px;
}

.generate-icon {
  margin-top: 2px;
}

.algorithm-icon {
  position: relative;
  top: 2px;
}

.algorithm-icon-custom-text {
  color: #fe6b00;
}

.mobile-sidebar {
  display: flex;
  flex-direction: column;
  z-index: 1;
}

.mobile-sidebar-header {
  display: flex;
  align-items: center;
  padding: 8px;
  border-bottom: 1px solid var(--main-border-color);
  margin-bottom: 16px;
}

.mobile-sidebar-header > h2 {
  align-content: center;
  margin: 0;
}

.mobile-sidebar-content {
  display: flex;
  flex-direction: column;
  padding-inline: 8px;
  overflow-y: auto;
}

.p-menuitem-link a {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: bold;
}
