<div class="dialog-content">
  <div class="flex flex-column gap-2 mb-3">
    <label for="nodeLabel">Node label</label>
    <input pInputText
      id="nodeLabel"
      aria-describedby="nodeLabel-help"
      [(ngModel)]="nodeLabel" />
    <small id="nodeLabel-help">
      Enter text for label. If it will be empty, node index will be used.
    </small>
  </div>
  <div class="flex justify-content-end gap-2">
    <p-button label="Cancel" severity="secondary" (click)="ref.close()" />
    <p-button label="Apply" (click)="ref.close()" />
  </div>
</div>

