<div class="dialog-container">
  <div class="dialog-content">
    <div class="row-item">
      <label class="common-label">Quality (Resolution size):</label>
      <p-dropdown
        [options]="resolutionLevelItems"
        [formControl]="selectedResolutionLevel"
        optionValue="value"
        optionLabel="label"/>
    </div>
    <div class="row-item">
      <p-checkbox
        [formControl]="transparentBackground"
        [binary]="true"
        label="Transparent background"
        inputId="binary"/>
    </div>
  </div>
  <div class="flex justify-content-end gap-2">
    <p-button label="Cancel" severity="secondary" (click)="onCancel()"/>
    <p-button label="Export" (click)="onExport()"/>
  </div>
</div>
