.main-body-desktop-container{
}

.main-body-mobile-container {
}

.main-content-mobile-container {
  display: flex;
  flex-direction: column-reverse;
}

.main-content-desktop-container {
  display: flex;
}
