<main class="main">
  <body>
  <!--  TODO REMAKE HEADER-->
  <div [ngClass]="isMobileDevice ? 'main-body-mobile-container' : 'main-body-desktop-container'">
    <div>
      <app-tool-bar id="toolbar"/>
    </div>
    <div [ngClass]="isMobileDevice ? 'main-content-mobile-container' : 'main-content-desktop-container'">
      <app-tab-nav id="navbar"/>
      <div class="pixi-container">
        <app-float-tool-bar *ngIf="showFloatToolBar"/>
        <app-canvas id="pixi-canvas"/>
      </div>
    </div>
  </div>
  </body>
</main>
