<div class="toolbar-container">
  <ng-container *ngFor="let item of items; let i = index">
    <div pRipple [pTooltip]="item.tooltip" tooltipPosition="left" showDelay="200"
         class="toolbar-item"
         [class.active]="item.isActive"
         [class.disabled]="item.disabled"
         (click)="!item.disabled && item.command(i)"
         *ngIf="!item.hidden">
      <ng-container *ngIf="item.customIcon; else defaultIcon">
        <span class="custom-icon-container">
          <span [id]="'icon-' + i" [class]="item.icon" appSvgIcon [appSvgIcon]="item.icon"></span>
        </span>
      </ng-container>
      <!-- Find icon in primeng icons -->
      <ng-template #defaultIcon>
        <span class="black-icon" [class]="item.icon"></span>
      </ng-template>
    </div>
  </ng-container>
</div>
