/* Toolbar styles */
.toolbar-main-container {
  display: flex;
  justify-content: flex-start;
  flex-wrap: nowrap;
  padding-inline: 4px;
  background-color: var(--main-bg-color);
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: var(--main-border-color);
  box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
}

.coordinates-panel {
  display: inline-grid;
  padding-inline: 10px;
  width: 95px;
  border-width: 2px;
  border-color: black;
  border-style: dotted;
}

/* Regular button styles */
.graph-web-button, .graph-web-toggle-button {
  display: flex;
  align-items: center;
  background-color: transparent;
  color: var(--main-button-color);
  font-family: var(--font-family);
  font-weight: bold;
  font-size: 1rem;
  border: none;
  margin: 4px;
  border-radius: 10px;
  padding: 0 4px;
}

.graph-web-button:disabled, .graph-web-toggle-button:disabled {
  color: #adadad;
}

.graph-web-toggle-button:not(:disabled):hover, .graph-web-button:not(:disabled):hover {
  background-color: #DCDCDC;
  color: #006FFF;
}

.graph-web-toggle-button:not(:disabled):hover, .graph-web-button:not(:disabled):hover i{
  color: #006FFF;
}

/* Toggle button styles */
.graph-web-toggle-button:active {
  background-color: #adadad;
}

.graph-web-toggle-button.active {
  background-color: #DCDCDC;
}

.graph-web-toggle-button.active:not(:disabled):hover {
  background-color: #C0C0C0;
}

.graph-web-toggle-button.active:active {
  background-color: #adadad;
}

/* Dropdown styles */
.dropdown-select-item-container {
  padding-left: 8px;
  padding-bottom: 4px;
}

.dropdown-select-item-container:hover {
  background: #f9f9f9 !important;
}
