/* Toolbar styles */
.toolbar-main-container {
  display: flex;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: center;
  overflow: hidden;
  max-height: 50px;
  padding-inline: 4px;
  background-color: var(--main-bg-color);
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: var(--main-border-color);
  box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
}

.alg-background {
  background-color: var(--alg-bg-color) !important;
  color:  var(--alg-button-color) !important;
  border-color: var(--alg-hover-color) !important;
}

.logo-container {
  display: flex;
  align-items: center;
  padding-inline: 10px;
  border-radius: 10px;
}

.logo-container:hover {
  background-color: var(--main-hover-color);
}

.logo-container:active {
  background-color: var(--alg-hover-color);
}

.logo-container-alg:hover {
  background-color: var(--alg-hover-color) !important;
}

.logo-container-alg:active {
  background-color: #949494 !important;
}

.image-container {
  display: flex;
  align-items: center;
  border-radius: 50%;
  background-color: var(--main-button-color);
}

.image-container-alg {
  background-color: var(--alg-button-color);
}

.logo-container img {
  padding: 6px;
}

.logo-toolbar {
  max-width: 39px;
  max-height: 39px;
}

.logo-label {
  font-size: 1.25rem;
  font-weight: bold;
  margin-left: 4px;
}

.coordinates-panel {
  display: inline-grid;
  padding-inline: 4px;
  margin-left: 8px;
  width: 95px;
  border-width: 2px;
  border-color: black;
  border-style: dotted;
}

/* Regular button styles */
.graph-web-button, .graph-web-toggle-button {
  display: flex;
  align-items: center;
  background-color: transparent;
  color: var(--main-button-color);
  font-family: var(--font-family);
  font-weight: bold;
  font-size: 18px;
  border: none;
  margin: 4px;
  border-radius: 10px;
  padding: 0 4px;
}

.graph-web-button:disabled, .graph-web-toggle-button:disabled {
  color: #adadad;
}

.graph-web-toggle-button:not(:disabled):hover, .graph-web-button:not(:disabled):hover {
  background-color: #DCDCDC;
  color: #006FFF;
}

.graph-web-toggle-button:not(:disabled):hover, .graph-web-button:not(:disabled):hover i{
  color: #006FFF;
}

.algorithm-button {
  color: #fe6b00;
  font-size: 18px;
}

.alg-mode-button {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  color: var(--alg-button-color);
  border: none;
  margin: 4px;
  border-radius: 10px;
  padding: 4px;
  background-color: transparent;
}

.alg-mode-button:disabled, .alg-mode-button:disabled .alg-button-text {
  color: #adadad !important;
}

.algorithm-button:hover, .alg-mode-button:not(:disabled):hover {
  background-color: var(--alg-hover-color) !important;
}

.algorithm-button:active, .alg-mode-button:not(:disabled):active {
  background-color: var(--alg-hover-color) !important;
  color: #fe6b00 !important;
}

.alg-button-text {
  display: flex;
  align-items: center;
  font-family: var(--font-family);
  font-weight: bold;
  font-size: 18px;
  color: var(--alg-button-color);
  padding-right: 6px;
}

.alg-separator {
  display: block;
  margin: 4px 4px;
  border: none;
  width: 1px;
  height: 35px;
  background-color: var(--alg-hover-color);
}

/* Toggle button styles */
.graph-web-toggle-button:active {
  background-color: #adadad;
}

.graph-web-toggle-button.active {
  background-color: #DCDCDC;
}

.graph-web-toggle-button.active:not(:disabled):hover {
  background-color: #C0C0C0;
}

.graph-web-toggle-button.active:active {
  background-color: #adadad;
}

.graph-web-toggle-button[hidden], .graph-web-button[hidden] {
  display: none !important;
}

/* Dropdown styles */
.dropdown-select-item-container {
  padding-left: 8px;
  padding-bottom: 4px;
}

.dropdown-select-item-container:hover {
  background: #f9f9f9 !important;
}

.p-menuitem-link.disabled {
  pointer-events: none;
  cursor: default;
  color: darkgrey;
}
