/* Toolbar styles */
.header-actions {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 10px;
  background-color: #C0C0C0; /* TODO REMOVE*/
}

.coordinates-panel {
  display: grid;
  padding-inline: 10px;
  width: 95px;
  background-color: #dfdfff; /* TODO REMOVE*/
  border-width: 2px;
  border-color: black;
  border-style: dotted;
}

.nav-item {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.navbar-text {
  margin-right: 5px;
}

.btn {
  margin-right: 10px;
}

.clr-dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-item {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.42857143;
  color: #333;
  white-space: nowrap;
}

.dropdown-item:hover {
  background-color: #f5f5f5;
  color: #262626;
}

/* Custom shapes */
.logo {
  height: 21px;
  width: 19px;
}

.title {
  font-size: 1.2em;
  margin-left: 10px;
}

#buttonAddVertex {
  background-color: transparent; /* Makes the background transparent */
  /*background-image: url("data:image/svg+xml,%3Csvg width='200' height='200' viewBox='-1.2 -1 10 10' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2.45 1a3.5 3.5 0 0 1 1.8-.2 3.48 3.48 0 0 1 2.63 4.86 3.5 3.5 0 0 1-.48.77l.55.77c.18.24-.14.67-.39.87-.28.22-.87.42-1.05.17l-.55-.77a3.5 3.5 0 0 1-1.8.2 3.48 3.48 0 0 1-2.9-3.98A3.5 3.5 0 0 1 1 2.04l-.56-.77C.28 1.03.62.59.88.39c.27-.2.83-.41 1.01-.17zm-.17 2.08h-.64v.55h.64v.63h.55v-.63h.63v-.55h-.64v-.63h-.54Zm-.37 3c.25.3.62.5.99.63a2.55 2.55 0 0 0 2.62-4.23H5.5zm3.56-1.12v.55H3.66v-.55z'/%3E%3C/svg%3E");*/
  /*background-repeat: no-repeat;*/
  /*background-size: contain;*/
  border: none;
  margin: 5px;
  border-radius: 5px;
  /*padding: 10px; !* Add padding *!*/
  /*display: flex;*/
}

#buttonAddVertex:hover {
  background-color: #DCDCDC; /* Change the color as per your preference */
  color: #006FFF;
}

#buttonAddVertex span {
  /*margin-left: 30px; !* Adjust as needed *!*/
}

#buttonAddVertex.active {
  background-color: #DCDCDC;
  color: #006FFF;
}

* {
  font-family: 'Metropolis', sans-serif;
  font-size: medium;
  font-weight: bold;
}
