<div class="about-page">
  <header class="header-container">
    <h1>About GraphWeb</h1>
    <p-button icon="pi pi-times" class="move-right" [rounded]="true" [text]="true" severity="danger"
    (onClick)="ref.close();"/>
  </header>
  <div class="about-page-content">
    <div class="subheader-content">
      <h3>What is GraphWeb?</h3>
    </div>
    <p>
      <i>GraphWeb</i> is a web application that allows users to visualize and interact with graphs and algorithms.
      The application provides a user-friendly interface for creating, editing, and analyzing graphs and matrices.
      Users can create graphs in several ways; customize the appearance of the graph. The application also provides<
      a set of algorithms that can be applied to the graph.<br>
      <br>
      <i>GraphWeb</i> is developed by a qualified software engineer <i>Marat Vataev</i>.
    </p>
    <div class="subheader-content">
      <h3>The goal of project</h3>
      <p></p>
    </div>
    <p>
      The goal of <i>GraphWeb</i> is to simplify the process of graph visualization and manipulation for users
      ranging from students and educators to researchers and developers. The application provides a comprehensive
      platform for graph creation and analysis, enabling users to visualize and understand graph structures with ease.
    </p>
    <div class="subheader-content">
      <h3>Contact</h3>
    </div>
      <p>If you faced with problems, or have recommendation feel free to reach me at:</p>
      <ul>
        <li>Email: <a href="mailto:your.email@example.com">vataevmarat&#64;hotmail.com</a></li>
        <li>GitHub: <a href="https://github.com/VatMart" target="_blank">VatMart</a></li>
      </ul>
  </div>
</div>
