/* You can add global styles to this file, and also import other style files */
@import "primeicons/primeicons.css";
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.min.css";
/* Nunito Sans font */
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden;
}

:root {
  --main-border-color: #d3d3d3;
  --main-blue-color: #006FFF;
  --main-blue-light-color: #4d9aff;
  --main-button-color: #3b3b3b;
  --main-hover-color: #DCDCDC;
  --main-bg-color: #f2f2f2;
}

* {
  box-sizing: border-box;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 14px;
  font-family: var(--font-family);
  font-weight: normal;
}

.move-right {
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

/* PrimeNG customization */
/* Menu customization*/
.p-menu {
  padding: 0;
  background: #f9f9f9;
  border-radius: 8px;
  font-size: 14px;
}

.p-menu .p-submenu-header {
  margin: 0;
  color: #414e61;
  padding: 0.50rem 1rem;
  background: #f9f9f9;
}

.p-menu ul {
  padding: 6px;
}

.p-menu .p-menuitem > .p-menuitem-content {
  border-radius: 6px;
}

.p-menu .p-menuitem > .p-menuitem-content:hover {
  background: #ededed;
}

.p-menu .p-menuitem > .p-menuitem-content .p-menuitem-link {
  padding: 0.5rem 0.5rem;
}

/* PrimeNG checkbox */
.p-checkbox .p-checkbox-box.p-highlight {
  border-color: var(--main-blue-color);
  background: var(--main-blue-color);
}

.p-dropdown {
  background: #f9f9f9;
}

.p-dropdown .p-dropdown-trigger {
  width: 2rem;
}

.p-dropdown-panel .p-dropdown-items .p-dropdown-item {
  padding: 0.5rem 0.5rem;
  border-radius: 4px;
}

.p-dropdown-panel .p-dropdown-items .p-dropdown-item:first-child {
  margin-top: 1px;
}

.p-inputtext {
  padding: 0.5rem 0.5rem;
}

/* PrimeNG tooltip */
.p-tooltip-text {
  background-color: #3b3b3b;
  padding: 0.25rem 0.25rem;
  text-align: center;
}

.p-tooltip-arrow {
  border-bottom-color: #3b3b3b;
}

/* PrimeNG notification messages */
.p-toast {
  width: auto;
}

.p-toast .p-toast-message .p-toast-message-content {
  padding: 0.25rem;
}

.p-toast .p-toast-message .p-toast-message-content .p-toast-message-text {
  margin: 0;
  padding-inline: 4px;
}

/* Style for the overall scrollbar */
::-webkit-scrollbar {
  width: 8px; /* Width of the vertical scrollbar */
  height: 8px; /* Height of the horizontal scrollbar */
}

/* Style for the scrollbar thumb */
::-webkit-scrollbar-thumb {
  background-color: #888; /* Color of the scrollbar thumb */
  border-radius: 10px; /* Rounded corners for the scrollbar thumb */
}

/* Style for the scrollbar thumb when hovered */
::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* Darker color when hovered */
}

/* Style for the scrollbar track */
::-webkit-scrollbar-track {
  background: #f1f1f1; /* Color of the scrollbar track */
  border-radius: 10px; /* Rounded corners for the scrollbar track */
}

.black-icon {
  color: var(--main-button-color);
}

/* Mobile styles */
.p-tabmenu .p-tabmenu-nav {
  background: #ffffff;
  border: 1px solid #e5e7eb;
  border-width: 2px 0 0 0;
}

.p-tabmenuitem .p-menuitem-link {
  border: 1px solid #e5e7eb;
  border-width: 2px 0 0 0;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  margin: -2px 0 0 0;
  padding: 0.5rem 1rem;
}

.p-tabmenu-nav-content {
  background: var(--main-bg-color);
}

.p-tabmenu .p-tabmenu-nav {
  background: var(--main-bg-color);
}

.p-tabmenu .p-tabmenu-nav .p-tabmenuitem .p-menuitem-link {
  background: var(--main-bg-color);
}

.p-tabmenu .p-tabmenu-nav .p-tabmenuitem.p-highlight .p-menuitem-link {
  background: var(--main-bg-color);
  border-color: #3B82F6;
  color: #3B82F6;
}

.p-sidebar {
  background-color: var(--main-bg-color);
  border-right: 1px solid var(--main-border-color);
  z-index: 1;
}
