<ng-container *ngIf="columns.length > 0; else emptyState">
  <p-table [value]="matrix" styleClass="p-datatable-sm p-datatable-gridlines"
           [scrollable]="true"
           [scrollHeight]="scrollHeight"
           [virtualScroll]="true"
           [virtualScrollItemSize]="46"
           [tableStyle]="{'min-width': '215px', 'min-height': '300px', 'background-color': '#F5F5F5'}">
    <ng-template pTemplate="header">
      <tr>
        <th class="th-first">#</th>
        <th *ngFor="let col of columns">{{ col }}</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-row let-rowIndex="rowIndex">
      <tr>
        <td class="td-first">{{ valuesOfFirstColumn[rowIndex] }}</td>
        <td *ngFor="let cell of row">{{ cell }}</td>
      </tr>
    </ng-template>
  </p-table>
</ng-container>
<ng-template #emptyState>
  <p-table [value]="['string']" styleClass="p-datatable-sm p-datatable-gridlines"
           [scrollable]="true"
           scrollHeight="300px"
           [tableStyle]="{'min-width': '215px', 'min-height': '300px', 'background-color': '#F5F5F5'}">
    <ng-template pTemplate="header">
      <tr>
        <th class="th-first">Graph is empty</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body">
      <tr>
        <td>Add a vertex/edge to see actual matrix</td>
      </tr>
    </ng-template>
  </p-table>
</ng-template>
